{% extends "base.html" %}
{% load static i18n common_tags %}



{% block extrastylesheets %}
    <link rel="stylesheet" type="text/css"  href='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css'>
{% endblock extrastylesheets %}

{% block extrascripts %}
<script  type="text/javascript" src='https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js'></script>
<script>
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    timeZone: 'UTC',
                    firstDay: 1,
                    themeSystem: 'bootstrap',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                    },
                    weekNumbers: false,
                    dayMaxEvents: true, // allow "more" link when too many events
                    events: '{{ object.get_json_url }}',
                    dateClick: function(info) {
                        var dt = new Date();
                        var hour_start = dt.getHours() + ":" + dt.getMinutes();
                        var hour_end = (dt.getHours()+2) + ":" + dt.getMinutes();
                        $('#hour_start').val(hour_start);
                        $('#hour_end').val(hour_end);
                        $('#date_start').val(info.dateStr);
                        $('#date_end').val(info.dateStr);
                        $('#create_events').modal('toggle');
                    }
                });

                calendar.render();

                $('#btn_save').on('click', function () {
                    var form = $('#trainingsForm');
                    var id = $('#doc_id').val();
                    var url = '/agenda/{{ object.id }}/events/add/';
                    $.ajax({
                        url: url,
                        type: 'GET',
                        data: form.serialize(),
                        traditional: true,
                        dataType: 'json',
                        success: function(result){
                            if (result['return']){
                                calendar.removeAllEvents();
                                calendar.getEventSources()[0].refetch();
                                $('#create_events').modal('toggle');
                                //bootbox.alert("Saved!", function(){});
                                $('#alert_save_saved').show().delay( 1000 ).fadeOut(1000);
                                console.log(result['events']);
                            }
                            else{;
                                var out = '';
                                for (var key in result['errors']){
                                    out += result['errors'][key][0];
                                }
                                $('#alert_save_error').html(out);
                                $('#alert_save_error').show();
                            }
                        }
                    });
                });
            });
    </script>
{% endblock extrascripts %}

{% block content %}
<div id='calendar'></div>
<div class="modal fade" id="create_events" tabindex="-1" role="dialog" aria-labelledby="create_events" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create_events">Create trainings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="trainingsForm">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Name</label> 
                        <div class="col-8">
                            <input id="name" name="name" type="text" class="form-control" required="required" value="training">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Color</label> 
                        <div class="col-8">
                            <input id="color" name="color" type="color" class="form-control" required="required" value="#72E9C1" style="height: 38px;">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Date Start</label> 
                        <div class="col-8">
                            <input id="date_start" name="date_start" type="date" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Date End</label> 
                        <div class="col-8">
                            <input id="date_end" name="date_end" type="date" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Hour Start</label> 
                        <div class="col-8">
                            <input id="hour_start" name="hour_start" type="time" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="text" class="col-4 col-form-label">Hour End</label> 
                        <div class="col-8">
                            <input id="hour_end" name="hour_end" type="time" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Days</label> 
                        <div class="col-8">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_0" type="checkbox" class="custom-control-input" value="0"> 
                                <label for="days_0" class="custom-control-label">Monday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_1" type="checkbox" class="custom-control-input" value="1"> 
                                <label for="days_1" class="custom-control-label">Thursday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_2" type="checkbox" class="custom-control-input" value="2"> 
                                <label for="days_2" class="custom-control-label">Wednesday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_3" type="checkbox" class="custom-control-input" value="3"> 
                                <label for="days_3" class="custom-control-label">Tuesday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_4" type="checkbox" class="custom-control-input" value="4"> 
                                <label for="days_4" class="custom-control-label">Friday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_5" type="checkbox" class="custom-control-input" value="5"> 
                                <label for="days_5" class="custom-control-label">Saturday</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input name="days" id="days_6" type="checkbox" class="custom-control-input" value="6"> 
                                <label for="days_6" class="custom-control-label">Sunday</label>
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn_save" name="btn_save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

