{% extends "base.html" %}
{% load i18n common_tags static %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="float-start mb-0">Event : {{ object }}</h3>
                    <a class="btn btn-primary float-end" id="btn_edit_event"
                       href="{% url 'event:event_change' object.id %}?next={% url 'event:event_detail' object.id %}">
                        <span class="fa fa-edit"></span> Edit Event
                    </a>
                </div>
                <div class="card-block">
                    <div class="row justify-content-md-center">
                        <div class="col-md-4 mb-1 text-center">Agenda : <a
                                href="{% url 'agenda:agenda_detail' object.refer_agenda.id %}">{{object.refer_agenda}}</a>
                        </div>
                        <div class="col-md-4 text-center">Date : {{object.date}}</div>
                        <div class="col-md-4 text-center">Hour: {{object.hour_start}}</div>

                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-4 text-center">Distance : {{object.get_total }}</div>
                        <div class="col-md-8 text-center">Goal : {{object.goal }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="float-start mb-0">Program</h3>
		    <a class="btn btn-secondary float-end ms-1" href="{% url 'event:event_raw' object.id %}"
                       name="btn_event_raw"><i class="far fa-file-alt"></i> </a>
		    <a class="btn btn-secondary float-end ms-1" href="{% url 'event:event_pdf' object.id %}"
                       name="btn_event_pdf"><i class="far fa-file-pdf"></i></a>
                    <a class="btn btn-primary float-end ms-1" id="btn_add_round"
                       href="{% url 'round:round_add' %}?next={% url 'event:event_detail' object.id %}&event_id={{ object.id }}">
                        <span class="fa fa-plus"></span> Add Exercise
                    </a>
                </div>
                {{object.get_table|safe}}
            </div>
        </div>
        <div class="col-sm-4 mb-4 table-responsive">
            <div class="card">
                <div class="card-header">
                    <h3 class="float-start mb-0">Attendance : <span id="nb_members">{{object.get_nb_members_present}}/{{object.get_nb_all_members}}</span>
                    </h3>

                    <a class="btn btn-primary float-end" id="btn_add_member"
                       href="{% url 'member:member_add' %}?next={% url 'event:event_detail' object.id %}&event_id={{ object.id }}">
                        <span class="fa fa-user-plus"></span>
                    </a>
                </div>
                <table class="card-table table table-striped mb-0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Attendance</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in object.get_attendance_members %}
                    <tr>
                        <td><label class="form-check-label" for="checkbox_{{m.member.id}}">{{m.member}}</label></td>
                        <td>
                            <div class="form-check form-switch">
                                <input {% if m.attendance %}checked {% endif %}
                                       class="checkox_attendance form-check-input" role="switch"
                                       data-id="{{m.member.id}}"
                                       id="checkbox_{{m.member.id}}" type="checkbox">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script type="text/javascript">
      $(function () {
          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
          $('.checkox_attendance').on('change', function () {
              var url = '/event/event/{{ object.id }}/member/' + $(this).data('id') + '/attendance/'; 
              $.ajax({
                  url: url,
                  type: 'GET',
                  data: {'attendance':this.checked},
                  traditional: true,
                  dataType: 'json',
                  success: function(result){
                      if (!result['return']){
                          var out = '';
                          for (var key in result['errors']){
                              out += result['errors'][key][0];
                          }
                          $('#alert_save_error').html(out);
                          $('#alert_save_error').show();
                      }
                  }
              });
          });
      });


</script>
{% endblock extrascripts %}
