{% extends 'base.html' %}
{% load static i18n common_tags %}
{% block content %}

<div class="container mt-3">
    <div class="card">
        {% for key, list in apps.items %}
        <div class="card-header">
            <h5>{{key}}</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                {% for model in list %}
                <tr>
                    <td><a href='{{model.get_list_url}}'>{{model|verbose_name}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // Auto-dismiss flash messages.
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
    });
</script>
{% endblock extrascripts %}
